{
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "max-len": ["error", 100],
    "no-console": "off",
    "no-unused-vars": 1,
    "no-var": 1,
    "indent": [1, 2, {"SwitchCase": 1}],
    "require-jsdoc": 0,
    "comma-style": ["error", "first"],
    "comma-dangle": ["error", "only-multiline"]
  }
}
